body{
    background: #eee;
}
.navbar-expand-lg{
    direction: rtl;
}
.navbar-nav{
    text-align: right;
}
.ltr{
    direction: ltr;
}
.rtl{
    direction: rtl;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    direction: rtl;
}
span{
    font-size:15px;
}
a{
  text-decoration:none; 

}

.box{
    padding:60px 0px;
    direction: rtl;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}

footer{
    background-color: red;
}